<h1><%= @question.content %></h1>

<% @question.answers.each do |answer| %>
  <ul>
    <% if current_user.answered_question?(@question.id) %>
      <li><%= answer.content %></li>
    <% else %>
      <li><%= link_to answer.content, choice_question_url(answer.id, device: answer.device, question_id: @question.id), method: 'post', :class => "answer" %></li>
    <% end %>
  </ul>
<% end %>
